"*":
  editor:
    fontFamily: "Ubuntu Mono derivative Powerline"
    showInvisibles: true
    showIndentGuide: true
    invisibles: {}
    softWrapAtPreferredLineLength: true
    undoGroupingInterval: 100
    fontSize: 16
  core:
    disabledPackages: [
      "autocomplete"
      "atom-ctags"
      "api-blueprint-preview"
      "sourcegraph-atom"
      "background-tips"
      "image-view"
      "asteroids"
      "linter-erb"
      "symbol-gen"
      "white-cursor"
      "easy-motion"
      "linter-reek"
      "git-blame-plus"
      "linter-scss-lint"
    ]
  "exception-reporting":
    userId: "adca269e-5cf2-fcc8-e740-8c81a0adbf71"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "6de0ea5ab590d7b69d3e8af1e2ff7508c1fcb980"
  "find-and-replace":
    focusEditorAfterSearch: true
    openProjectFindResultsInRightPane: true
  linter:
    showHighlighting: false
    showErrorInline: false
    statusBar: "Show error of the selected line"
    lintOnChange: false
    lintOnEditorFocus: false
    clearOnChange: true
    ignoredLinterErrors: [
      "rubocop"
      "scspell"
    ]
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
    confirmCompletion: "tab"
  "sourcegraph-atom":
    logStatusToConsole: true
    srcExecutablePath: "/usr/local/bin/src"
  "tree-view": {}
  "easy-motion": {}
  emmet: {}
  "linter-rubocop": {}
  "atom-beautify":
    _analyticsUserId: "598e6532-1fbc-4788-83e9-bf0859aca621"
  "git-blame": {}
  "one-dark-ui":
    layoutMode: "Compact"
  "one-light-ui":
    layoutMode: "Compact"
  tabs: {}
  "linter-js-standard":
    honorStyleSettings: true
    checkStyleDevDependencies: true
    showEslintRules: true
    style: "happiness"
  "vim-mode": {}
