"*":
  editor:
    fontFamily: "Anonymous Pro"
    showInvisibles: true
    showIndentGuide: true
    invisibles: {}
  core:
    disabledPackages: [
      "autocomplete"
      "atom-ctags"
      "api-blueprint-preview"
      "sourcegraph-atom"
      "background-tips"
      "image-view"
      "asteroids"
      "linter-erb"
      "linter"
      "open-on-github"
      "symbol-gen"
      "white-cursor"
      "easy-motion"
    ]
  "exception-reporting":
    userId: "adca269e-5cf2-fcc8-e740-8c81a0adbf71"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "6de0ea5ab590d7b69d3e8af1e2ff7508c1fcb980"
  "find-and-replace":
    focusEditorAfterSearch: true
    openProjectFindResultsInRightPane: true
  linter:
    showHighlighting: false
    statusBar: "Show all errors"
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  "sourcegraph-atom":
    logStatusToConsole: true
    srcExecutablePath: "/usr/local/bin/src"
  "tree-view": {}
  "easy-motion": {}
  emmet: {}
